  style.css

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  margin: 0;
  overflow-x: hidden;
}


  html {
  scroll-behavior: smooth;
}

html, body {
    width: 100%;
  overflow-x: hidden;
  background: #ffffff;
}

  
  .hero {
    font-family: Arial, sans-serif;
    color: rgb(300, 300, 300);
    text-align: center;
    padding: 310px 20px;
    background-color: #5d0e05;

    font-size: 2.5rem;
    
  }


.menu-toggle {
  display: none;
}

.menu-btn {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.116);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.menu-btn .line {
  width: 20px;
  height: 2px;
  background: rgb(165, 165, 165);
  transition: all 0.3s ease;
}


.menu-toggle:checked + .menu-btn .line:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle:checked + .menu-btn .line:nth-child(2) {
  opacity: 0;
}

.menu-toggle:checked + .menu-btn .line:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu-panel {
  position: fixed;
  top: 0;
  right: -600px;
  width: 400px;
  height: 100vh;
  color: white;
  background: #1a1a2e;
  padding: 80px 60px;
  transition: right 0.3s ease;
  z-index: 99;
}


.menu-toggle:checked ~ .menu-panel {
  right: 0;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu-link {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
  
  padding-right: 5px;
  transition: padding-left 0.3s ease;
}

.menu-nav ul {
  margin: 0;  
  list-style-type: none;
  text-align: left;
  padding-left: 5;

}

.menu-link:hover {
  color: #bebebe;
  padding-left: 5px;
  transition: padding-left 0.3s ease;
}

  .cta {
    padding: 15px 30px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .history {
    font-family: Arial, sans-serif;
    font-size: xx-large;
    line-height: 1.5;

    text-align: justify;
    padding: 100px 380px;
    background-color: #999696;

    background-image: linear-gradient(rgba(0, 0, 0, .5)), url('baybayin-image.jpg');  
    background-size: cover;
    background-position: center; 
    background-attachment: fixed; 
    
    position: relative; 
    color: white; 
    z-index: 1; 

  } 


  .what {
    font-family: Arial, sans-serif;
    font-size: x-large;
    text-align: justify;
    padding: 220px 380px;
    background-color: #f5f1e4;
  } 

  .what p {
    line-height: 2;
  }
  .what h2 {
    line-height: 2;
  }
  .why {
    font-family: Arial, sans-serif;
    font-size: x-large;
    text-align: justify;
    padding: 60px 380px;
    background-color: #ccbaae
;

  } 

  .why p {
    line-height: 2;
  }
  .why h2 {
    line-height: 2;
  }
  .why ul {
    line-height: 2;
  }

  .two-column-section {
  display: flex;
  gap: 40px;
  padding: 50px 150px;
  background-color: #898e75
;

  
}

.column {
  flex: 1;
  
}

.column h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: xx-large;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.content-box {
  background: white;
  border: 2px solid #ddd;
  border-radius: 15px;
  padding: 15px 50px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.content-box h3 {
  color: #2d5016;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 30px;
}

.content-box p {
  line-height: 1.6;
  margin-bottom: 15px;
  color: #555;
  text-align: justify;
  font-size: x-large;
  line-height: 1;
}

.content-box ul {
  list-style: none;
  padding-left: 0;
  line-height: 2.6;
  font-size: x-large;
}

.content-box ul li:before {
  content: "✔ ";
  color: #2d5016;
  font-weight: bold;
  margin-right: 10px;
}


.highlight {
  padding: 60px 150px;
  background-color: #cdc3c3;
}

.who, .unique {
  margin-bottom: 150px;
  text-align: center;
}

.who h2, .unique h2 {
  font-family: arial, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  color: #000000;
}


.who .feature-card,
.unique .feature-card {
  display: inline-block;
  width: calc(18% - 15px);
  background: white;
  border: 2px solid #ddd;
box-shadow: 0 8px 16px rgba(0,0,0,0.2);

  padding: 15px 20px;
  margin: 10px 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  vertical-align: top;
  box-sizing: border-box;
  min-height: 150px;
  position: relative;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.card-front {
  font-weight: bold;
  color: #000000;
  font-size: 14px;
  font-size: x-large;
  font-family: arial, sans-serif;
}

.card-back {
  font-family: arial, sans-serif;
  display: none;
  color: #555;
  margin-top: 8px;
  line-height: 1.5;
  font-size: larger;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #5d0e05;
  padding: 15px;
  border-radius: 10px;
  z-index: 10;
}

.who .feature-card:hover,
.unique .feature-card:hover {
  background: #5d0e05;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 20;
}
.who .feature-card:hover .card-front,
.unique .feature-card:hover .card-front {
  color: white;
}

.who .feature-card:hover .card-back,
.unique .feature-card:hover .card-back {
  display: block;
  color: white;
}

.getting-started {
  padding: 100px 250px;
  background-color: #f5f5f5;
  text-align: center;
  
}
.getting-started h2 {
  font-size: 50px;
  color: #000000;
  margin-bottom: 20px;
}

.getting-started .intro {
  font-size: 30px;
  color: #555;
  margin-bottom: 50px;
}

.steps {
  max-width: 600px;
  text-align: left;
  margin: auto;
}

.step {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.step-number {
  font-size:40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  margin-right: 20px;
  min-width: 30px;
}

.step p {
  font-size: x-large;
  color: #555;
  line-height: 1.6;
  margin: 0;
}

.future {
  display: flex;
  
  gap: 50x;
  padding: 50px 150px;
  background-color: #f4f3f3;
  align-items: center;

  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}


.future-left {
  flex: 1;
  max-width: 30%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.future-left h2 {
  font-size: x-large;
  color: #000000;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.future-card {
  background: white;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 20px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  min-height: 60px;
  display: flex;
  align-items: center;
  width: calc(50% - 8px);
  box-sizing: border-box;

}

.future-card .card-front {
  font-weight: bold;
  color: #  5d0e05;
  font-size: larger;
  
}

.future-card:hover {
  background: #5d0e05;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 20;
}

.future-card:hover .card-front {
  color: white;
}

.future-right {
  flex: 1;
  display: flex;
  margin-left: 200px;
  align-items: center;
  justify-content: center;
}

.conclusion-text {
  text-align: left;
  max-width: 1000px;
  padding: 30px ;
  border-top: 4px solid #000000;
  border-bottom: 4px solid #000000;
}

.conclusion-text p {
  color: #000000;
  font-size: xx-large;
  line-height: 1.8;
  margin: 0px;
  font-style: italic;
}


  .info {
    padding: 430px 20px;
    background-color: #333;
  }

  .cta-final {
    text-align: center;
    padding: 270px 20px;
  }

  .cta-final h2 {
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
    margin-top: -10px;
  }

  .cta {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;

    position: relative;
    top: 50px;
    right: 0px;
}

  footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fcfcfc;
  }

  .footer-container {
    max-width: 1200px;
    margin-left: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
  .contact ul{
    text-align: left;
    font-size: large;
    padding-left: 0;
  }
  .contact h3 {
    text-align: center;
    font-size: x-large;
  }

.contact a {
    color: white;
    text-decoration: none;
    opacity: 0.8;
    display: block;
    margin-bottom: 0.5rem;
    margin-left: 15.5rem;
    transition: all 0.3s ease;
}

.contact a:hover {
    opacity: 1;
    transform: translateX(5px);
    color: #696969;
}
.rights{
    text-align: center;
    margin-top: 5rem;
    font-size: 1rem;
    color: #bbb;
  }



  
  

  /* Responsive adjustments */
  @media screen and (max-width: 768px) {
  
    .footer-container {
      margin-left: 10px;
    }

  .contact a {
      margin-left: 4rem;
    }
  .hero {
    padding: 351px 20px;
    font-size: 1.5rem;
  }
  
  .hero h1 {
    font-size: 2rem;
  }

  .history{
    padding: 110px 30px;
    font-size: larger;
  }

  .what {
    padding: 110px 30px;
    font-size: large;
  }
  .why {
    padding: 20px 30px;
    font-size: medium;
  }
  

  
  .two-column-section {
    flex-direction: column;
    padding: 25px 30px;
  }
  
  .content-box {
    padding: 20px;
  }
  
  .content-box h3 {
    font-size: large;
  }
  
  .content-box p {
    font-size: 16px;
  }
  
  .highlight {
    padding: 40px 20px;
  }
  
  .who .feature-card,
  .unique .feature-card {
    width: calc(45% - 10px);
    min-height: 120px;
    font-size: medium;
  }
  
  .card-front {
    font-size: medium;
  }
  
  .getting-started {
    padding: 60px 30px;
  }
  
  .getting-started h2 {
    font-size: 32px;
  }
  
  .getting-started .intro {
    font-size: 20px;
  }
  
  .step-number {
    font-size: 28px;
  }
  
  .step p {
    font-size: large;
  }
  
  .future {
    flex-direction: column;
    padding: 40px 30px;
  }
  
  .future-left {
    max-width: 100%;
  }
  
  .future-left h2 {
    font-size: 28px;
  }
  
  .future-left h3 {
    font-size: large;
  }
  
  .future-card {
    margin: 15px 0;
    font-size: 16px;
  }
  
  .future-right {
    margin-left: 0;
    margin-top: 40px;
  }
  
  .conclusion-text {
    max-width: 100%;
    padding: 20px;
  }
  
  .conclusion-text p {
    font-size: large;
  }
  
  .cta-final {
    padding: 150px 30px;
  }
  
  .cta-final h2 {
    font-size: 1.5rem;
  }
  
  .cta {
    font-size: 1.2rem;
    top: 100px;
  }
}

@media screen and (max-width: 480px) {
  .who .feature-card,
  .unique .feature-card {
    width: calc(100% - 10px);
  }
  
  .menu-panel {
    width: 30%;
    right: -55%;

  }
}